body {
    margin: 0;
}

h4, p {
    margin: 0;
    color: white;
    font-family: 'Roboto';
}

.div-inputs {
    margin-top: 30px;
}

.div-inputs input {
    font-family: 'Roboto';
    font-size: 15px;
    padding: 6px;
    border: 2px solid white;
    border-radius: 20px;
    background: none;
    color: white;
}

.div-inputs input:nth-child(2) {
    cursor: pointer;
}

.div-inputs input::placeholder {
    color: white;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 8px);
    height: 100vh;
}

.container-temp {
    height: 400px;
    width: 400px;
    background: url(../img/img-tempo1.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
}

.temp-atual span:nth-child(1) {
    margin-right: 5px;
}

.temp-atual span:nth-child(2) {
    margin-left: 5px;
}

.div-tempo {
    margin-top: 20px;
}

.info-tempo {
    display: flex;
    margin-top: 40px;
}

.info-tempo div {
    margin-left: 5px;
    margin-right: 5px;
}

.info-tempo div p {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.link-update {
    margin-left: 30px;
}

.ativo {
    animation-name: gira-update;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-direction: reverse;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}

@keyframes gira-update {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

h1 {
    font-family: 'Roboto';
    color: white;
}

span {
    font-family: 'Roboto';
    font-size: 25px;
    color: white;
}